.maincontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    background-color: white;
    border-radius: 30px;
    overflow: hidden; /* Ensure that the border-radius is applied correctly */
}

.left {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right {
    width: 50%;
    height: 100%;
    background-image: url('../../assets/girljump.jpg'); /* Ensure the path is correct */
    background-size: cover; /* Ensure the image covers the container */
    background-position: center; /* Center the background image */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden; /* Ensure background image respects the border-radius */
}

.inputWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.inputWrapper input{
  padding:10px;
  


}